<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        {% if title %}
                {{ title }}
            {% else %}
             <title>Sustainable Materials web app</title>
        {% endif %}
    {% endblock title %}
    </title>
    {%  block styles %} <link rel="stylesheet" href=""> {% endblock styles %}
</head>

<body>
    {% for message in get_flashed_messages() %}
        <div style="width: 100%; height: 30px; color: lightgreen; background-color: rgb(194, 134, 61);
        text-align: center; padding: 10px; box-sizing: border-box; display: flex; 
        justify-content: center; align-items: center;" class="flash-message">
            {{ message }}
        </div>    
    {% endfor %}

    {% block body %}
    {% endblock body %}
    
</body>
</html>