
{% extends 'base.html' %}

{% block title %} Project home page {% endblock title %}
{%  block styles %}  <link rel="stylesheet" href="/static/styles/project_home_page.css" /> {% endblock styles %}
   
  
{% block body %}
      <header>
      <nav>
        <ul>
          <li class="home">
            <a class="home-link" href="{{ url_for('home') }}">HOME</a>
          </li>
          <li class="about-me">ABOUT ME</li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="main-container">
        <div class="post-1">
          <div class="profile">
            <div class="profile-pic"></div>
            <div class="info">
              User Name<br /><small>Occupation</small> <br />
              <br />
            </div>
          </div>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus et
            rem doloribus! Dolore unde sit tempore, laborum sapiente voluptas
            accusamus delectus explicabo tenetur quibusdam suscipit accusantium,
            harum molestiae numquam, placeat est vitae! Doloribus reprehenderit
            neque, excepturi, reiciendis est praesentium ipsum, sunt culpa earum
            blanditiis commodi nulla amet deleniti facere quam distinctio
            temporibus vero vel? Odit adipisci mollitia, dolorem culpa
            reprehenderit vitae dicta ducimus, praesentium veritatis laboriosam
            aspernatur. Ea vitae ullam alias voluptatibus excepturi, debitis
            nesciunt cupiditate aliquid numquam? Veritatis ipsam ipsa dolorum
            perferendis nisi consequuntur tempore. Amet animi officiis
            reprehenderit vel rerum quis nostrum molestias, nisi fugiat
            consequatur velit magni!</p>
        </div>

        <div class="post-2">
          <div class="profile">
            <div class="profile-pic"></div>
            <div class="info">
              User Name<br /><small>Occupation</small> <br />
              <br />
            </div>
          </div>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus et
            rem doloribus! Dolore unde sit tempore, laborum sapiente voluptas
            accusamus delectus explicabo tenetur quibusdam suscipit accusantium,
            harum molestiae numquam, placeat est vitae! Doloribus reprehenderit
            neque, excepturi, reiciendis est praesentium ipsum, sunt culpa earum
            blanditiis commodi nulla amet deleniti facere quam distinctio
            temporibus vero vel? Odit adipisci mollitia, dolorem culpa
            reprehenderit vitae dicta ducimus, praesentium veritatis laboriosam
            aspernatur. Ea vitae ullam alias voluptatibus excepturi, debitis
            nesciunt cupiditate aliquid numquam? Veritatis ipsam ipsa dolorum
            perferendis nisi consequuntur tempore. Amet animi officiis
            reprehenderit vel rerum quis nostrum molestias, nisi fugiat
            consequatur velit magni!
          </p>
        </div>

        <div class="post-3">
          <div class="profile">
            <div class="profile-pic"></div>
            <div class="info">
              User Name<br /><small>Occupation</small> <br />
              <br />
            </div>
          </div>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus et
            rem doloribus! Dolore unde sit tempore, laborum sapiente voluptas
            accusamus delectus explicabo tenetur quibusdam suscipit accusantium,
            harum molestiae numquam, placeat est vitae! Doloribus reprehenderit
            neque, excepturi, reiciendis est praesentium ipsum, sunt culpa earum
            blanditiis commodi nulla amet deleniti facere quam distinctio
            temporibus vero vel? Odit adipisci mollitia, dolorem culpa
            reprehenderit vitae dicta ducimus, praesentium veritatis laboriosam
            aspernatur. Ea vitae ullam alias voluptatibus excepturi, debitis
            nesciunt cupiditate aliquid numquam? Veritatis ipsam ipsa dolorum
            perferendis nisi consequuntur tempore. Amet animi officiis
            reprehenderit vel rerum quis nostrum molestias, nisi fugiat
            consequatur velit magni!
          </p>
        </div>

        
        <a href="{{ url_for('login_form') }}"><button class="create-post">Create post</button></a>
               
      </div>
    </main>
    <aside>
      <form action="">
        <div>
          <input type="text" placeholder="" />
        </div>
      </form>
    </aside>

   <div class="display-block">this is the block to be displayed</div>
    <footer>
      <div class="search-bar-div">
        <input type="text" placeholder="enter search" />
        <input type="submit" value="submit" />
      </div>
    </footer>
{% endblock body %}

