
 {% extends 'base.html' %}


 {% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}"> {% endblock styles %}
 


 {% block body %}
    <header>
      <br />
      <article>
        <div class="intro-container">
          <div class="intro-div">
            <h1>
              <span style="color: rgb(14, 231, 61)"> Sustainable</span>
              Construction Materials Suggestion <br />
              Web App
            </h1>
          </div>
          <nav>
            <div class="buttons-container">
              <a href="{{ url_for('about_me') }}"><button class="about-me">About me</button></a> 
             <a href="{{ url_for('index') }}"><button class="view-project">view project</button></a>
            </div>
          </nav>
        </div>
        <p
          style="
            font-size: 18px;
            padding: 10px;
            padding-left: 0;
            font-style: italic;
          "
        >
          Impacting the environment through the promotion of sustainable
          materials usage...
        </p>
      </article>
    </header>
    <div class="container">
      <main>
        <div main_group>
          <div class="image"></div>
        </div>
      </main>

      <aside>
        <div class="aside-div">
          <h2>
            "The construction industry remains <br />
            one of the least digitized in the world, <br />
            and this has limited the rate of innovative <br />transformation in
            the industry."
          </h2>
          <br />
          <br />
          <p>
            <span class="aside-span">
              This project proposes a digital solution to enhance the <br />
              adoption and promotion of sustainable environmental materials
              <br />
              and practices.</span
            >
          </p>
          <a href="{{ url_for('index') }}"><button class="web-button">View project</button></a>
        </div>
      </aside>
    </div>

    <div class="intro"></div>

    <div class="feature-about-container">
      <div class="feature">
        <div class="feature-1">
          <h3>Search for posts of your choice</h3>
          <div class="search"></div>
        </div>
        <div class="feature-2">
          <h3>Login to create post</h3>
          <div class="login"></div>
        </div>
        <div class="feature-3">
          <h3>
            Register an account to ensure <br />
            seamless access to all features
          </h3>
          <div class="register"></div>
        </div>
      </div>
      <div class="about">
        <h1>About</h1>
        <p>
          As a graduate Civil Engineer, I have always had keen interest in
          contributing to the growth and advancement of environmental
          sustainability through the discovery and adoption of construction
          materials that are eco friendly and pose practically very
          little/negligeable adverse effect to the environment. This project
          proposes a way of encouraging professionals in the construction
          industry to share their discoveries and solutions to environmental
          sustainability problems. <br />
          <br />

          You can follow me on
          <a
            style="color: red; text-decoration: none"
            href="https://github.com/21Alul21"
            >GITHUB</a
          >
          and
          <a
            style="color: red; text-decoration: none"
            href="https://twitter.com/21alul21?s=21&t=yn-XXFnzuayE6xgWCvAc4w"
            >X</a
          >
        </p>
      </div>
    </div>
{% endblock body %}
