{% extends 'base.html' %}


{%  block styles %}  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/forms.css') }}"> {% endblock styles %}

{% block body %}
    <!-- header code inherited from home page -->
    <header>
        <nav>
          <ul>
            <li class="home">
              <a class="home-link" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="about-m"><a style="text-decoration: none; color:white;" class="about-me" href="{{ url_for('about_me') }}">ABOUT ME</a></li>
          </ul>
        </nav>
      </header>
<!-- header code inherited from home page -->
    <form action="" method="POST">
      <div class="form-content">
        <legend><h1>Login to create post</h1></legend>
        {{ form.hidden_tag() }}
        {{ form.username(placeholder='username') }}<br />
        {{ form.password(placeholder='password') }}<br />
        {{ form.remember_me }}
        {{ form.remember_me.label }}
        
        <br />
        {{ form.submit }} <br />      

        Don't have an account yet?
        <span class="register"
          ><a href="{{ url_for('registration_form') }}">register</a></span
        >
      </div>
    </form>
{% endblock body %}


